/* --- GENERAL ---- */
* {
  box-sizing: border-box;
}

body {
  font-family: TS-reg, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
}

.container {
  width: 1135px;
  border: 1px solid red;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* --- HEADER ---- */
header {
  height: 60px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container img {
  height: 40px;
}

header nav {
  display: flex;
  font-size: 16px;
  gap: 10px;
}

header nav :is(a, button) {
  display: flex;
  border-radius: 20px;
  padding: 7px 10px;
  /* border: purple 1px solid; */
  gap: 5px;
}

header a:hover {
  background-color: grey;
}

header button {
  background-color: black;
  color: white;
}

/* --- MAIN ---- */
main {
  padding: 32px 0 24px 0;
}

main span {
  color: #ff5d5d;
}

main section p {
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
}

main a {
  text-decoration: underline;
}

/** --- MAIN : menu---- **/
.menu {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.menu div {
  border: 1px black solid;
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 11px 16px;
  align-items: center;
}

/** --- MAIN : images---- **/
.imageBlock {
  height: 430px;
  /* border: 5px purple solid; */
  display: flex;
  gap: 2px;
}

.imageBlock > div:first-child {
  height: 100%;
  flex: 1;
  /* background-color: #ff5d5d; */
}

.imageBlock div:first-child img:first-child {
  position: relative;
}

.imageBlock > div:last-child {
  width: 480px;
  flex-direction: column;
  display: flex;
  gap: 2px;
  height: 100%;
}

.imageBlock > div:last-child > div {
  height: 50%;
}

.imageBlock img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#TC-logo {
  width: 84px;
  height: 84px;
  position: absolute;
  background-color: orange;
}

/* --- FOOTER ---- */
